tr.title {
    background-color: #457B9D;
    border: 2px solid #457B9D;
    color: #F1FAEE;
}

td {
    border: 2px green;
}

td.title {
    font-size: x-large;
    text-transform: uppercase;
}

td.section {
    border: 2px solid #457B9D;
    padding: 5px;
}

table {
    border-collapse: collapse;
}