table {
    width:98%;
    border-collapse: collapse;
    margin: 1%;
}

th {
    background-color: #457B9D;
    color: #F1FAEE;
}

td {
    width: auto;
    margin: 5px;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #A8DADC;
    border-bottom: 1px solid #457B9D;
}

tr:nth-child(odd) {
    background-color: #F1FAEE;
}
