DIV.table {
    display:table;
    width: 90%;
}

FORM.tr, DIV.tr {
    display: table-row;
}

SPAN.td {
    display: table-cell;
    background-color: #A8DADC;
    width: auto;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

.textarea, .text {
    border-radius: 5px;
    overflow-wrap: break-word;
}