.headerContainer {
    display: grid;
    grid-template-areas: "logo companyName";
    grid-template-columns: 120px 4fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    width: 100%;
}

.logo {
    /* first div element, controls height of rest in row */
    display:flex;
    align-items: center;
    padding: 2px;
    flex: 1;
    grid-area: logo;
    height: 50px; 
}

.companyName {
    display:flex;
    align-items: center;
    padding: 2px;
    grid-area: companyName;
    background-color: #457B9D;
    border: 2px solid #457B9D;
    color: #F1FAEE;
    font-size:xx-large;
}

img {
    max-width: 100%;
    max-height: 100%;
}